aiofiles ; python_version >= "3.11"
aiosqlite ; python_version >= "3.11"
anyio ; python_version >= "3.11"
appnope ; python_version >= "3.11" and platform_system == "Darwin"
argon2-cffi-bindings ; python_version >= "3.11"
argon2-cffi ; python_version >= "3.11"
arrow ; python_version >= "3.11"
asttokens ; python_version >= "3.11"
attrs ; python_version >= "3.11"
babel ; python_version >= "3.11"
beautifulsoup4 ; python_version >= "3.11"
bleach ; python_version >= "3.11"
certifi ; python_version >= "3.11"
cffi ; python_version >= "3.11"
charset-normalizer ; python_version >= "3.11"
colorama ; python_version >= "3.11" and sys_platform == "win32"
comm ; python_version >= "3.11"
contourpy ; python_version >= "3.11"
cycler ; python_version >= "3.11"
debugpy ; python_version >= "3.11"
decorator ; python_version >= "3.11"
defusedxml ; python_version >= "3.11"
entrypoints ; python_version >= "3.11"
exceptiongroup ; python_version >= "3.11"
executing ; python_version >= "3.11"
fastjsonschema ; python_version >= "3.11"
fonttools ; python_version >= "3.11"
fqdn ; python_version >= "3.11"
idna ; python_version >= "3.11"
ipykernel ; python_version >= "3.11"
ipython-genutils ; python_version >= "3.11"
ipython ; python_version >= "3.11"
isoduration ; python_version >= "3.11"
jedi ; python_version >= "3.11"
jinja2 ; python_version >= "3.11"
joblib ; python_version >= "3.11"
json5 ; python_version >= "3.11"
jsonpointer ; python_version >= "3.11"
jsonschema-specifications ; python_version >= "3.11"
jsonschema ; python_version >= "3.11"
jsonschema[format-nongpl] ; python_version >= "3.11"
jupyter-client ; python_version >= "3.11"
jupyter-core ; python_version >= "3.11"
jupyter-events ; python_version >= "3.11"
jupyter-server-fileid ; python_version >= "3.11"
jupyter-server-terminals ; python_version >= "3.11"
jupyter-server-ydoc ; python_version >= "3.11"
jupyter-server ; python_version >= "3.11"
jupyter-ydoc ; python_version >= "3.11"
jupyterlab-pygments ; python_version >= "3.11"
jupyterlab-server ; python_version >= "3.11"
jupyterlab ; python_version >= "3.11"
kiwisolver ; python_version >= "3.11"
markupsafe ; python_version >= "3.11"
matplotlib-inline ; python_version >= "3.11"
matplotlib ; python_version >= "3.11"
mistune ; python_version >= "3.11"
nbclassic ; python_version >= "3.11"
nbclient ; python_version >= "3.11"
nbconvert ; python_version >= "3.11"
nbformat ; python_version >= "3.11"
nest-asyncio ; python_version >= "3.11"
notebook-shim ; python_version >= "3.11"
notebook ; python_version >= "3.11"
numpy ; python_version >= "3.11"
overrides ; python_version >= "3.11"
packaging ; python_version >= "3.11"
pandas ; python_version >= "3.11"
pandocfilters ; python_version >= "3.11"
parso ; python_version >= "3.11"
pexpect ; python_version >= "3.11" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow ; python_version >= "3.11"
platformdirs ; python_version >= "3.11"
prometheus-client ; python_version >= "3.11"
prompt-toolkit ; python_version >= "3.11"
psutil ; python_version >= "3.11"
ptyprocess ; python_version >= "3.11" and (sys_platform != "win32" and sys_platform != "emscripten" or os_name != "nt")
pure-eval ; python_version >= "3.11"
pycparser ; python_version >= "3.11"
pygments ; python_version >= "3.11"
pyparsing ; python_version >= "3.11"
python-dateutil ; python_version >= "3.11"
python-json-logger ; python_version >= "3.11"
pytz ; python_version >= "3.11"
pywin32 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.11"
pywinpty ; python_version >= "3.11" and os_name == "nt"
pyyaml ; python_version >= "3.11"
pyzmq ; python_version >= "3.11"
referencing ; python_version >= "3.11"
requests ; python_version >= "3.11"
rfc3339-validator ; python_version >= "3.11"
rfc3986-validator ; python_version >= "3.11"
rpds-py ; python_version >= "3.11"
scikit-learn ; python_version >= "3.11"
scipy ; python_version >= "3.11"
seaborn ; python_version >= "3.11"
send2trash ; python_version >= "3.11"
six ; python_version >= "3.11"
sniffio ; python_version >= "3.11"
soupsieve ; python_version >= "3.11"
stack-data ; python_version >= "3.11"
terminado ; python_version >= "3.11"
threadpoolctl ; python_version >= "3.11"
tinycss2 ; python_version >= "3.11"
tomli ; python_version >= "3.11"
tornado ; python_version >= "3.11"
traitlets ; python_version >= "3.11"
types-python-dateutil ; python_version >= "3.11"
typing-extensions ; python_version >= "3.11"
uri-template ; python_version >= "3.11"
urllib3 ; python_version >= "3.11"
wcwidth ; python_version >= "3.11"
webcolors ; python_version >= "3.11"
webencodings ; python_version >= "3.11"
websocket-client ; python_version >= "3.11"
y-py ; python_version >= "3.11"
ypy-websocket ; python_version >= "3.11"
